In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('dirty_cafe_sales.csv')

In [3]:
data.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,08-09-2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,16-05-2023
2,TXN_4271903,Cookie,4,1,ERROR,Credit Card,In-store,19-07-2023
3,TXN_7034554,Salad,2,5,10,UNKNOWN,UNKNOWN,27-04-2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,11-06-2023

In [4]:
data.shape

(10000, 8)

In [5]:
data.columns

Index(['Transaction ID', 'Item', 'Quantity', 'Price Per Unit', 'Total Spent',
       'Payment Method', 'Location', 'Transaction Date'],
      dtype='object')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [7]:
data.describe()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_9226047,Juice,5,3,6,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159

In [8]:
data.value_counts()  ## wrong way

Transaction ID  Item      Quantity  Price Per Unit  Total Spent  Payment Method  Location  Transaction Date
TXN_9999124     Juice     2         3               6            Digital Wallet  Takeaway  UNKNOWN             1
TXN_1000555     Tea       1         1.5             1.5          Credit Card     In-store  19-10-2023          1
TXN_1001832     Salad     2         5               10           Cash            Takeaway  UNKNOWN             1
TXN_1002457     Cookie    5         1               5            Digital Wallet  Takeaway  29-09-2023          1
TXN_1004184     Smoothie  1         4               4            Credit Card     In-store  18-05-2023          1
                                                                                                              ..
TXN_1010950     Cookie    ERROR     1               1            Digital Wallet  Takeaway  07-01-2023          1
TXN_1009421     Cookie    4         1               4            Cash            Takeaway  21-02-2023          1
TXN_1007347     Salad     4         5               20           Digital Wallet  In-store  28-08-2023          1
TXN_1006942     Salad     1         5               5            Credit Card     In-store  30-11-2023          1
TXN_1005377     Cake      5         UNKNOWN         15           Digital Wallet  Takeaway  03-06-2023          1
Name: count, Length: 4550, dtype: int64

In [9]:
data['Item'].value_counts()

Item
Juice       1171
Coffee      1165
Salad       1148
Cake        1139
Sandwich    1131
Smoothie    1096
Cookie      1092
Tea         1089
UNKNOWN      344
ERROR        292
Name: count, dtype: int64

In [10]:
data['Quantity'].value_counts()

Quantity
5          2013
2          1974
4          1863
3          1849
1          1822
UNKNOWN     171
ERROR       170
Name: count, dtype: int64

In [11]:
data['Price Per Unit'].value_counts()

Price Per Unit
3          2429
4          2331
2          1227
5          1204
1          1143
1.5        1133
ERROR       190
UNKNOWN     164
Name: count, dtype: int64

In [12]:
data['Total Spent'].value_counts()

Total Spent
6          979
12         939
3          930
4          923
20         746
15         734
8          677
10         524
2          497
9          479
5          468
16         444
25         259
7.5        237
1          232
4.5        225
1.5        205
UNKNOWN    165
ERROR      164
Name: count, dtype: int64

In [13]:
data['Payment Method'].value_counts()

Payment Method
Digital Wallet    2291
Credit Card       2273
Cash              2258
ERROR              306
UNKNOWN            293
Name: count, dtype: int64

In [14]:
data['Location'].value_counts()

Location
Takeaway    3022
In-store    3017
ERROR        358
UNKNOWN      338
Name: count, dtype: int64

In [15]:
data['Transaction Date'].value_counts()

Transaction Date
UNKNOWN       159
ERROR         142
16-06-2023     40
06-02-2023     40
21-09-2023     39
             ...
24-11-2023     15
30-07-2023     15
22-07-2023     14
11-03-2023     14
17-02-2023     14
Name: count, Length: 367, dtype: int64

In [16]:
data.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

## Drop transaction ID

In [17]:
data.drop('Transaction ID', axis = 1, inplace = True)

In [18]:
data.head()

,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,Coffee,2,2,4,Credit Card,Takeaway,08-09-2023
1,Cake,4,3,12,Cash,In-store,16-05-2023
2,Cookie,4,1,ERROR,Credit Card,In-store,19-07-2023
3,Salad,2,5,10,UNKNOWN,UNKNOWN,27-04-2023
4,Coffee,2,2,4,Digital Wallet,In-store,11-06-2023

## Show data types to convert each columns to the suitable Type

In [19]:
data.dtypes

Item                object
Quantity            object
Price Per Unit      object
Total Spent         object
Payment Method      object
Location            object
Transaction Date    object
dtype: object

#### Quantity, Price per unit, total spent : Numeric

#### Item, Payment Method, Location : Categorical

#### Transaction Date : Date/Time

In [20]:
def is_problematic_quantity(value):
    # Convert to string to handle different input types
    str_value = str(value).strip().upper()
    
    # Check for various problematic conditions
    return (
        pd.isna(value) or  # Null/NaN values
        str_value == '' or  # Empty string
        str_value == 'ERROR' or  # Explicit ERROR
        str_value == 'UNKNOWN' or  # Explicit UNKNOWN
        str_value == 'NULL'  # Explicit NULL
    )

# Filter rows with problematic Quantity values
problematic_rows = data[data['Quantity'].apply(is_problematic_quantity)]

# Print results
print("Total problematic rows:", len(problematic_rows))
print("\nSample of problematic rows:")
print(problematic_rows.head())

# Optional: Save problematic rows to a new CSV
problematic_rows.to_csv('problematic_quantity_rows.csv', index=False)

# Breakdown of different types of problematic values
value_counts = problematic_rows['Quantity'].apply(lambda x: str(x).strip().upper()).value_counts()
print("\nBreakdown of problematic Quantity values:")
print(value_counts)

Total problematic rows: 479

Sample of problematic rows:
         Item Quantity Price Per Unit Total Spent  Payment Method  Location  \
20   Smoothie    ERROR              4          20            Cash  In-store
55     Cookie    ERROR              1           2     Credit Card  Takeaway
57       Cake  UNKNOWN              3           3  Digital Wallet  In-store
66      Juice      NaN              3           6            Cash       NaN
117     Juice    ERROR              3           9  Digital Wallet   UNKNOWN

    Transaction Date
20        04-04-2023
55        19-03-2023
57        19-04-2023
66        30-03-2023
117       10-01-2023

Breakdown of problematic Quantity values:
Quantity
UNKNOWN    171
ERROR      170
NAN        138
Name: count, dtype: int64

### Drop rows with UNKONOWN or ERROR values in items

In [21]:
pd.isnull(data['Item']).value_counts()

Item
False    9667
True      333
Name: count, dtype: int64

In [22]:
data.dropna(subset = ['Item'], axis = 0, inplace = True)

In [23]:
pd.isnull(data['Item']).value_counts()

Item
False    9667
Name: count, dtype: int64

In [24]:
# In-place drop
data.drop(data[data['Item'].isin(['UNKNOWN', 'ERROR'])].index, inplace = True)

In [25]:
data['Item'].value_counts()

Item
Juice       1171
Coffee      1165
Salad       1148
Cake        1139
Sandwich    1131
Smoothie    1096
Cookie      1092
Tea         1089
Name: count, dtype: int64

In [26]:
data.describe()

,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,9031,8910,8873,8877,6701,6086,8888
unique,8,7,8,19,5,4,367
top,Juice,5,3,6,Digital Wallet,Takeaway,UNKNOWN
freq,1171,1834,2195,882,2065,2725,145

In [27]:
pd.isnull(data['Item']).sum()

np.int64(0)

In [28]:
pd.notnull(data['Item']).sum()

np.int64(9031)

### convert to numeric

In [29]:
def clean_and_convert_numeric(data, columns_to_convert):
    # Create a copy of the DataFrame to avoid modifying the original
    cleaned_data = data.copy()

    for column in columns_to_convert:
        def clean_numeric_value(value):
            if pd.isna(value):
                return np.nan

            str_value = str(value).strip()

            ignore_values = [
                '', 'NULL', 'UNKNOWN', 'ERROR', 'NA', 'N/A', 
                '-', '?', 'NAN', 'NONE'
            ]

             # Convert to lowercase for case-insensitive comparison
            if str_value.lower() in [v.lower() for v in ignore_values]:
                return np.nan

            # Remove currency symbols and commas
            str_value = str_value.replace('$', '').replace(',', '')

            try:
                # Attempt to convert to float
                return float(str_value)
            except (ValueError, TypeError):
                # Return NaN for any conversion errors
                return np.nan

            # Apply cleaning and conversion
        cleaned_data[column] = cleaned_data[column].apply(clean_numeric_value)
        
        # Convert to numeric, coercing any remaining issues to NaN
        cleaned_data[column] = pd.to_numeric(cleaned_data[column], errors='coerce')

    return cleaned_data

# Columns to convert to numeric
numeric_columns = ['Quantity', 'Price Per Unit', 'Total Spent']

# Clean and convert numeric columns
cleaned_data = clean_and_convert_numeric(data, numeric_columns)

In [30]:
cleaned_data.head()

,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,08-09-2023
1,Cake,4.0,3.0,12.0,Cash,In-store,16-05-2023
2,Cookie,4.0,1.0,NaN,Credit Card,In-store,19-07-2023
3,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,27-04-2023
4,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,11-06-2023

In [31]:
cleaned_data[numeric_columns].dtypes

Quantity          float64
Price Per Unit    float64
Total Spent       float64
dtype: object

In [32]:
cleaned_data[numeric_columns].shape

(9031, 3)

In [33]:
# Summary of conversions
for column in numeric_columns:
    print(f"\n{column} Column Analysis:")
    print("Total rows:", len(data))
    print("Non-null rows after conversion:", cleaned_data[column].count())
    print("Null/Ignored rows:", len(data) - cleaned_data[column].count())
    
    # Basic statistics for converted column
    if cleaned_data[column].count() > 0:
        print("Basic Statistics:")
        print(cleaned_data[column].describe())

Quantity Column Analysis:
Total rows: 9031
Non-null rows after conversion: 8611
Null/Ignored rows: 420
Basic Statistics:
count    8611.000000
mean        3.029846
std         1.422212
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         5.000000
Name: Quantity, dtype: float64

Price Per Unit Column Analysis:
Total rows: 9031
Non-null rows after conversion: 8552
Null/Ignored rows: 479
Basic Statistics:
count    8552.000000
mean        2.951766
std         1.276793
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         5.000000
Name: Price Per Unit, dtype: float64

Total Spent Column Analysis:
Total rows: 9031
Non-null rows after conversion: 8579
Null/Ignored rows: 452
Basic Statistics:
count    8579.000000
mean        8.931519
std         6.019553
min         1.000000
25%         4.000000
50%         8.000000
75%        12.000000
max        25.000000
Name: Total Spent, dtype: float64

In [34]:
cleaned_data

,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,08-09-2023
1,Cake,4.0,3.0,12.0,Cash,In-store,16-05-2023
2,Cookie,4.0,1.0,NaN,Credit Card,In-store,19-07-2023
3,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,27-04-2023
4,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,11-06-2023
...,...,...,...,...,...,...,...
9993,Smoothie,2.0,4.0,NaN,Cash,NaN,20-10-2023
9995,Coffee,2.0,2.0,4.0,NaN,UNKNOWN,30-08-2023
9997,Coffee,4.0,2.0,8.0,Digital Wallet,NaN,02-03-2023
9998,Cookie,3.0,NaN,3.0,Digital Wallet,NaN,02-12-2023
9999,Sandwich,3.0,4.0,12.0,Cash,In-store,07-11-2023

In [35]:
pd.isna(cleaned_data['Quantity']).value_counts()

Quantity
False    8611
True      420
Name: count, dtype: int64

In [36]:
pd.isna(cleaned_data['Total Spent']).value_counts()

Total Spent
False    8579
True      452
Name: count, dtype: int64

In [37]:
pd.isna(cleaned_data['Price Per Unit']).value_counts()

Price Per Unit
False    8552
True      479
Name: count, dtype: int64

In [38]:
def process_sales_data(cleaned_data):
    # Create a copy of the dataframe to avoid modifying the original
    processed_df = cleaned_data.copy()
    
    # Calculation 1: Total Spent = Quantity * Price Per Unit
    processed_df['Calculated Total Spent'] = np.where(
        (processed_df['Quantity'].notna()) & (processed_df['Price Per Unit'].notna()),
        processed_df['Quantity'] * processed_df['Price Per Unit'],
        processed_df['Total Spent']
    )
    
    # Calculation 2: Quantity = Total Spent / Price Per Unit
    processed_df['Calculated Quantity'] = np.where(
        (processed_df['Total Spent'].notna()) & (processed_df['Price Per Unit'].notna()),
        processed_df['Total Spent'] / processed_df['Price Per Unit'],
        processed_df['Quantity']
    )
    
    # Calculation 3: Price Per Unit = Total Spent / Quantity
    processed_df['Calculated Price Per Unit'] = np.where(
        (processed_df['Total Spent'].notna()) & (processed_df['Quantity'].notna()),
        processed_df['Total Spent'] / processed_df['Quantity'],
        processed_df['Price Per Unit']
    )
    
    # Update original columns with calculated values
    processed_df['Total Spent'] = processed_df['Calculated Total Spent']
    processed_df['Quantity'] = processed_df['Calculated Quantity']
    processed_df['Price Per Unit'] = processed_df['Calculated Price Per Unit']
    
    # Drop rows with NaN in two or more columns
    def count_nans(row):
        return row.isna().sum()
    
    # Drop rows with 2 or more NaN values in Quantity, Price Per Unit, and Total Spent
    columns_to_check = ['Quantity', 'Price Per Unit', 'Total Spent']
    processed_df = processed_df[processed_df[columns_to_check].apply(count_nans, axis=1) < 2]
    
    # Remove temporary calculation columns
    processed_df = processed_df.drop(columns=['Calculated Total Spent', 'Calculated Quantity', 'Calculated Price Per Unit'])
    
    return processed_df

# Read the CSV file
# df = pd.read_csv('dirty_cafe_sales.csv', dtype=str)

# Convert columns to numeric, coercing errors to NaN
numeric_columns = ['Quantity', 'Price Per Unit', 'Total Spent']
# for col in numeric_columns:
    # cleaned_data[col] = pd.to_numeric(df[col], errors='coerce')

# Process the data
processed_cleaned_data = process_sales_data(cleaned_data)

# Print some information about the processing
print("Original DataFrame Shape:", cleaned_data.shape)
print("Processed DataFrame Shape:", processed_cleaned_data.shape)
print("\nRows Removed:", cleaned_data.shape[0] - processed_cleaned_data.shape[0])

# Print summary statistics
print("\nSummary Statistics:")
for col in numeric_columns:
    print(f"\n{col}:")
    print(processed_cleaned_data[col].describe())

Original DataFrame Shape: (9031, 7)
Processed DataFrame Shape: (8979, 7)

Rows Removed: 52

Summary Statistics:

Quantity:
count    8979.000000
mean        3.028622
std         1.423698
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         5.000000
Name: Quantity, dtype: float64

Price Per Unit:
count    8979.000000
mean        2.950050
std         1.279186
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         5.000000
Name: Price Per Unit, dtype: float64

Total Spent:
count    8979.000000
mean        8.948324
std         6.015953
min         1.000000
25%         4.000000
50%         8.000000
75%        12.000000
max        25.000000
Name: Total Spent, dtype: float64

In [39]:
processed_cleaned_data

,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,08-09-2023
1,Cake,4.0,3.0,12.0,Cash,In-store,16-05-2023
2,Cookie,4.0,1.0,4.0,Credit Card,In-store,19-07-2023
3,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,27-04-2023
4,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,11-06-2023
...,...,...,...,...,...,...,...
9993,Smoothie,2.0,4.0,8.0,Cash,NaN,20-10-2023
9995,Coffee,2.0,2.0,4.0,NaN,UNKNOWN,30-08-2023
9997,Coffee,4.0,2.0,8.0,Digital Wallet,NaN,02-03-2023
9998,Cookie,3.0,1.0,3.0,Digital Wallet,NaN,02-12-2023
9999,Sandwich,3.0,4.0,12.0,Cash,In-store,07-11-2023

In [40]:
print(pd.isna(processed_cleaned_data['Quantity']).value_counts())
print(pd.isna(processed_cleaned_data['Price Per Unit']).value_counts())
print(pd.isna(processed_cleaned_data['Total Spent']).value_counts())

Quantity
False    8979
Name: count, dtype: int64
Price Per Unit
False    8979
Name: count, dtype: int64
Total Spent
False    8979
Name: count, dtype: int64

In [41]:
# Optional: Save processed data
processed_cleaned_data.to_csv('processed_numeric_rows.csv', index=False)

In [42]:
# Optional: Verification of calculations
def verify_calculations(df):
    """
    Verify the calculations to ensure consistency
    """
    # Check Total Spent calculation
    total_spent_check = np.isclose(
        df['Quantity'] * df['Price Per Unit'], 
        df['Total Spent'], 
        rtol=0.01, 
        atol=0.01
    )
    print("\nVerification of Total Spent = Quantity * Price Per Unit:")
    print("Percentage of rows matching:", total_spent_check.mean() * 100, "%")
    
    return total_spent_check

# Run verification
verification_results = verify_calculations(processed_cleaned_data)

Verification of Total Spent = Quantity * Price Per Unit:
Percentage of rows matching: 100.0 %

In [43]:
processed_data = pd.read_csv('processed_numeric_rows.csv')

In [44]:
processed_data.head()

,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,08-09-2023
1,Cake,4.0,3.0,12.0,Cash,In-store,16-05-2023
2,Cookie,4.0,1.0,4.0,Credit Card,In-store,19-07-2023
3,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,27-04-2023
4,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,11-06-2023

In [45]:
processed_data['Payment Method'].mode()

0    Digital Wallet
Name: Payment Method, dtype: object

In [46]:
processed_data['Payment Method'].value_counts().sum()

np.int64(6662)

In [47]:
len(processed_data['Payment Method'])

8979

In [48]:
pd.isna(processed_data['Payment Method']).value_counts()

Payment Method
False    6662
True     2317
Name: count, dtype: int64

In [49]:
processed_data['Payment Method'].value_counts()

Payment Method
Digital Wallet    2055
Credit Card       2032
Cash              2032
ERROR              283
UNKNOWN            260
Name: count, dtype: int64

In [50]:
mode_value = processed_data['Payment Method'].mode()

In [51]:
processed_data_copy = processed_data.copy()

In [52]:
processed_data_copy

,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,08-09-2023
1,Cake,4.0,3.0,12.0,Cash,In-store,16-05-2023
2,Cookie,4.0,1.0,4.0,Credit Card,In-store,19-07-2023
3,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,27-04-2023
4,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,11-06-2023
...,...,...,...,...,...,...,...
8974,Smoothie,2.0,4.0,8.0,Cash,NaN,20-10-2023
8975,Coffee,2.0,2.0,4.0,NaN,UNKNOWN,30-08-2023
8976,Coffee,4.0,2.0,8.0,Digital Wallet,NaN,02-03-2023
8977,Cookie,3.0,1.0,3.0,Digital Wallet,NaN,02-12-2023
8978,Sandwich,3.0,4.0,12.0,Cash,In-store,07-11-2023

In [53]:
type(processed_data_copy['Payment Method'])

pandas.core.series.Series

In [54]:
processed_data_copy['Payment Method'] = processed_data_copy['Payment Method'].astype(str)

In [55]:
processed_data_copy['Payment Method'].dtypes

dtype('O')

In [56]:
mode_value

0    Digital Wallet
Name: Payment Method, dtype: object

In [57]:
# Replace NaN/null values with the mode
processed_data_copy['Payment Method'] = processed_data_copy['Payment Method'].fillna(mode_value)

In [58]:
processed_data_copy

,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,08-09-2023
1,Cake,4.0,3.0,12.0,Cash,In-store,16-05-2023
2,Cookie,4.0,1.0,4.0,Credit Card,In-store,19-07-2023
3,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,27-04-2023
4,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,11-06-2023
...,...,...,...,...,...,...,...
8974,Smoothie,2.0,4.0,8.0,Cash,NaN,20-10-2023
8975,Coffee,2.0,2.0,4.0,nan,UNKNOWN,30-08-2023
8976,Coffee,4.0,2.0,8.0,Digital Wallet,NaN,02-03-2023
8977,Cookie,3.0,1.0,3.0,Digital Wallet,NaN,02-12-2023
8978,Sandwich,3.0,4.0,12.0,Cash,In-store,07-11-2023

In [59]:
pd.isna(processed_data_copy['Payment Method']).value_counts()

Payment Method
False    8979
Name: count, dtype: int64

In [60]:
processed_data_copy['Payment Method'].value_counts()

Payment Method
nan               2317
Digital Wallet    2055
Cash              2032
Credit Card       2032
ERROR              283
UNKNOWN            260
Name: count, dtype: int64

In [61]:
# View the distribution of payment methods
payment_counts = processed_data_copy['Payment Method'].value_counts(dropna=False)
print("Before cleaning:")
print(payment_counts)

# Find the mode (most common valid payment method)
# Exclude null, UNKNOWN, and ERROR values when calculating the mode
valid_payments = processed_data_copy['Payment Method'].copy()
valid_payments = valid_payments[~valid_payments.isin([None, 'UNKNOWN', 'ERROR'])]
mode_value = valid_payments.mode()[0]  # In this case, should be "Digital Wallet"

print(f"\nMode payment method: {mode_value}")

# Replace NULL, UNKNOWN, and ERROR with the mode value
processed_data_copy['Payment Method'] = processed_data_copy['Payment Method'].fillna(mode_value)
processed_data_copy['Payment Method'] = processed_data_copy['Payment Method'].replace(['UNKNOWN', 'ERROR'], mode_value)

# Ensure consistent capitalization (Title Case)
processed_data_copy['Payment Method'] = processed_data_copy['Payment Method'].str.title()

# View the distribution after cleaning
print("\nAfter cleaning:")
print(processed_data_copy['Payment Method'].value_counts())

# Save the cleaned data
processed_data_copy.to_csv('processed_categorical_rows.csv', index=False)

Before cleaning:
Payment Method
nan               2317
Digital Wallet    2055
Cash              2032
Credit Card       2032
ERROR              283
UNKNOWN            260
Name: count, dtype: int64

Mode payment method: nan

After cleaning:
Payment Method
Nan               2860
Digital Wallet    2055
Cash              2032
Credit Card       2032
Name: count, dtype: int64

In [62]:
data = pd.read_csv('processed_categorical_rows.csv')

In [63]:
data.head()

,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,08-09-2023
1,Cake,4.0,3.0,12.0,Cash,In-store,16-05-2023
2,Cookie,4.0,1.0,4.0,Credit Card,In-store,19-07-2023
3,Salad,2.0,5.0,10.0,Nan,UNKNOWN,27-04-2023
4,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,11-06-2023

In [64]:
data['Payment Method'].value_counts()

Payment Method
Nan               2860
Digital Wallet    2055
Cash              2032
Credit Card       2032
Name: count, dtype: int64

In [65]:
# Identify the mode value
mode_value = "Digital Wallet"  # We already know this from the value_counts() output

# Replace Nan values
data['Payment Method'] = data['Payment Method'].replace('Nan', mode_value)

# If there are still any NaN values (pandas missing values), fill those too
data['Payment Method'] = data['Payment Method'].fillna(mode_value)

# Standardize case (optional)
data['Payment Method'] = data['Payment Method'].str.title()

# Check the result
print(data['Payment Method'].value_counts())

Payment Method
Digital Wallet    4915
Credit Card       2032
Cash              2032
Name: count, dtype: int64

In [66]:
data.to_csv('processed_categorical_rows.csv', index=False)

## Location Column

In [67]:
data = pd.read_csv('processed_categorical_rows.csv')

In [68]:
data.head()

,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,08-09-2023
1,Cake,4.0,3.0,12.0,Cash,In-store,16-05-2023
2,Cookie,4.0,1.0,4.0,Credit Card,In-store,19-07-2023
3,Salad,2.0,5.0,10.0,Digital Wallet,UNKNOWN,27-04-2023
4,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,11-06-2023

In [69]:
data['Payment Method'].value_counts()

Payment Method
Digital Wallet    4915
Credit Card       2032
Cash              2032
Name: count, dtype: int64

In [70]:
location_counts = data['Location'].value_counts(dropna = False)
print("Before cleaning: ")
print(location_counts)

Before cleaning:
Location
NaN         2932
Takeaway    2707
In-store    2707
ERROR        323
UNKNOWN      310
Name: count, dtype: int64

In [71]:
data.shape

(8979, 7)

In [72]:
print("\nCross-tabulation of Payment Method vs Location:")
print(pd.crosstab(data['Payment Method'], data['Location'], margins=True))

Cross-tabulation of Payment Method vs Location:
Location        ERROR  In-store  Takeaway  UNKNOWN   All
Payment Method
Cash               76       628       593       65  1362
Credit Card        74       609       602       77  1362
Digital Wallet    173      1470      1512      168  3323
All               323      2707      2707      310  6047

In [73]:
valid_locations = data['Location'].copy()
valid_locations = valid_locations[~valid_locations.isin([None, np.nan, 'UNKNOWN', 'ERROR'])]
mode_value = valid_locations.mode()[0]  # Will be either "Takeaway" or "In-store"

print(f"\nMode location: {mode_value}")

Mode location: In-store

In [74]:
data['Location'] = data['Location'].fillna(mode_value)
data['Location'] = data['Location'].replace(['UNKNOWN', 'ERROR'], mode_value)

In [75]:
data['Location'].value_counts(dropna = False)

Location
In-store    6272
Takeaway    2707
Name: count, dtype: int64

In [76]:
data['Location'].value_counts(dropna = False).sum()

np.int64(8979)

In [77]:
len(data['Location'])

8979

In [78]:
data['Location'] = data['Location'].str.title()

In [79]:
print("After cleaning: ")
print(data['Location'].value_counts())

After cleaning:
Location
In-Store    6272
Takeaway    2707
Name: count, dtype: int64

In [80]:
pd.isna(data['Transaction Date']).value_counts()

Transaction Date
False    8838
True      141
Name: count, dtype: int64

## Transaction Date

In [81]:
from datetime import datetime

In [82]:
print("Before cleaning: ")
print(data['Transaction Date'].value_counts(dropna = False).head(10))

Before cleaning:
Transaction Date
UNKNOWN       145
NaN           141
ERROR         129
13-03-2023     39
24-07-2023     37
21-07-2023     36
30-06-2023     36
21-09-2023     35
22-10-2023     35
05-01-2023     35
Name: count, dtype: int64

In [83]:
valid_dates = data['Transaction Date'].copy()
valid_dates = valid_dates[~valid_dates.isin(['UNKNOWN', 'ERROR'])]
valid_dates_dt = pd.to_datetime(valid_dates, format = '%d-%m-%Y', errors = 'coerce')
median_date = valid_dates_dt.median()

In [84]:
type(median_date)

pandas._libs.tslibs.timestamps.Timestamp

In [85]:
# Clean the Transaction Date column
# 1. Convert all to datetime format
data['Transaction Date'] = pd.to_datetime(data['Transaction Date'],
                                          format = '%d-%m-%Y',
                                          errors = 'coerce')

In [86]:
# 2. Replace invalid values with the median date
data['Transaction Date'] = data['Transaction Date'].fillna(median_date)

In [87]:
type(data['Transaction Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [88]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8979 entries, 0 to 8978
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Item              8979 non-null   object
 1   Quantity          8979 non-null   float64
 2   Price Per Unit    8979 non-null   float64
 3   Total Spent       8979 non-null   float64
 4   Payment Method    8979 non-null   object
 5   Location          8979 non-null   object
 6   Transaction Date  8979 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 491.2+ KB

In [89]:
# 3. Format as desired
# For ISO format (YYYY-MM-DD):
# data['Transaction Date'] = data['Transaction Date'].dt.strftime('%Y-%m-%d')

In [90]:
# check results
print(data['Transaction Date'].head(10))
print("Any null values remaining: ", data['Transaction Date'].isna().sum())

0   2023-09-08
1   2023-05-16
2   2023-07-19
3   2023-04-27
4   2023-06-11
5   2023-03-31
6   2023-10-28
7   2023-12-31
8   2023-11-07
9   2023-07-02
Name: Transaction Date, dtype: datetime64[ns]
Any null values remaining:  0

In [91]:
data.head()

,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,Cake,4.0,3.0,12.0,Cash,In-Store,2023-05-16
2,Cookie,4.0,1.0,4.0,Credit Card,In-Store,2023-07-19
3,Salad,2.0,5.0,10.0,Digital Wallet,In-Store,2023-04-27
4,Coffee,2.0,2.0,4.0,Digital Wallet,In-Store,2023-06-11

## Datetime Type Error / after use to_csv

In [92]:
data.to_csv('Cleaned_sales_data_final.csv', index = False)

In [93]:
Loading_the_data = pd.read_csv('Cleaned_sales_data_final.csv')

In [94]:
Loading_the_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8979 entries, 0 to 8978
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Item              8979 non-null   object
 1   Quantity          8979 non-null   float64
 2   Price Per Unit    8979 non-null   float64
 3   Total Spent       8979 non-null   float64
 4   Payment Method    8979 non-null   object
 5   Location          8979 non-null   object
 6   Transaction Date  8979 non-null   object
dtypes: float64(3), object(4)
memory usage: 491.2+ KB

In [95]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8979 entries, 0 to 8978
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Item              8979 non-null   object
 1   Quantity          8979 non-null   float64
 2   Price Per Unit    8979 non-null   float64
 3   Total Spent       8979 non-null   float64
 4   Payment Method    8979 non-null   object
 5   Location          8979 non-null   object
 6   Transaction Date  8979 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 491.2+ KB

In [96]:
Loading_the_data

,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,Cake,4.0,3.0,12.0,Cash,In-Store,2023-05-16
2,Cookie,4.0,1.0,4.0,Credit Card,In-Store,2023-07-19
3,Salad,2.0,5.0,10.0,Digital Wallet,In-Store,2023-04-27
4,Coffee,2.0,2.0,4.0,Digital Wallet,In-Store,2023-06-11
...,...,...,...,...,...,...,...
8974,Smoothie,2.0,4.0,8.0,Cash,In-Store,2023-10-20
8975,Coffee,2.0,2.0,4.0,Digital Wallet,In-Store,2023-08-30
8976,Coffee,4.0,2.0,8.0,Digital Wallet,In-Store,2023-03-02
8977,Cookie,3.0,1.0,3.0,Digital Wallet,In-Store,2023-12-02
8978,Sandwich,3.0,4.0,12.0,Cash,In-Store,2023-11-07

## ____________________________________

In [97]:
file_path = 'processed_categorical_rows.csv'  # Replace with your actual file path
data.to_csv(file_path, index=False)
print(f"Cleaned data has been written back to {file_path}")

Cleaned data has been written back to processed_categorical_rows.csv

In [98]:

data.shape

(8979, 7)

In [99]:
load_data = pd.read_csv('processed_categorical_rows.csv')

In [100]:
load_data.head()

,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,Cake,4.0,3.0,12.0,Cash,In-Store,2023-05-16
2,Cookie,4.0,1.0,4.0,Credit Card,In-Store,2023-07-19
3,Salad,2.0,5.0,10.0,Digital Wallet,In-Store,2023-04-27
4,Coffee,2.0,2.0,4.0,Digital Wallet,In-Store,2023-06-11

In [101]:
type(load_data['Transaction Date'])

pandas.core.series.Series

In [102]:
load_data['Transaction Date'].dtype

dtype('O')

In [103]:
load_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8979 entries, 0 to 8978
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Item              8979 non-null   object
 1   Quantity          8979 non-null   float64
 2   Price Per Unit    8979 non-null   float64
 3   Total Spent       8979 non-null   float64
 4   Payment Method    8979 non-null   object
 5   Location          8979 non-null   object
 6   Transaction Date  8979 non-null   object
dtypes: float64(3), object(4)
memory usage: 491.2+ KB

In [104]:
load_data.dtypes

Item                 object
Quantity            float64
Price Per Unit      float64
Total Spent         float64
Payment Method       object
Location             object
Transaction Date     object
dtype: object

In [105]:
load_data

,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,Cake,4.0,3.0,12.0,Cash,In-Store,2023-05-16
2,Cookie,4.0,1.0,4.0,Credit Card,In-Store,2023-07-19
3,Salad,2.0,5.0,10.0,Digital Wallet,In-Store,2023-04-27
4,Coffee,2.0,2.0,4.0,Digital Wallet,In-Store,2023-06-11
...,...,...,...,...,...,...,...
8974,Smoothie,2.0,4.0,8.0,Cash,In-Store,2023-10-20
8975,Coffee,2.0,2.0,4.0,Digital Wallet,In-Store,2023-08-30
8976,Coffee,4.0,2.0,8.0,Digital Wallet,In-Store,2023-03-02
8977,Cookie,3.0,1.0,3.0,Digital Wallet,In-Store,2023-12-02
8978,Sandwich,3.0,4.0,12.0,Cash,In-Store,2023-11-07